@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-sans;
}

.center {
  @apply flex items-center justify-center;
}

.x-center {
  @apply flex justify-center;
}

.y-center {
  @apply flex items-center;
}

.text-2line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
